

<div class="">
  <h1 class="text-4xl font-bold text-slate-900 mb-12">Create a new poll</h1>
  <div class="flex flex-col gap-3">
    <app-username></app-username>
    <app-questions></app-questions>
    <button class="mt-6 font-bold inline-flex justify-center whitespace-nowrap rounded-lg bg-green-900 px-3.5 py-2.5 text-sm text-white shadow-sm shadow-indigo-950/10 hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-green-300 transition-colors duration-150">Create Poll</button>
  </div>
</div>
