
<header class="relative">
  <div
    class="absolute inset-0 h-full w-full bg-[linear-gradient(to_right,#80808044_1px,transparent_1px),linear-gradient(to_bottom,#80808044_1px,transparent_1px)] bg-[size:24px_24px]"
  ></div>
  <div class="w-full h-full py-32 bg-[url('https://i.imgur.com/lzzkBsM.png')] bg-cover bg-center bg-">
    <div class="w-full h-full bg-slate-900 bg-opacity-50 absolute top-0"></div>
    <a routerLink="/" class="drop-shadow-2xl flex justify-center items-center h-full text-9xl text-slate-100 italic tracking-tighter font-bold w-full text-center">
      Voter <span class="not-italic">🎯</span>
    </a>
  </div>
</header>
