<main class="bg-slate-100 py-32">
  <div class="flex flex-col gap-6">
    <div *ngIf="errorMessage" class="text-6xl font-black w-full  text-center">
      <p>{{ errorMessage }}</p>
    </div>
    <a href="/" class="text-center"> go back </a>
  </div>
  <div *ngIf="poll && !errorMessage">
    <h1>{{ poll.title }}</h1>
    <p>{{ poll.description }}</p>

    <div *ngFor="let question of poll.questions">
      <h2>{{ question.text }}</h2>
      <ul>
        <li *ngFor="let option of question.options">
          {{ option.text }} (Votes: {{ option.votes.length }})
        </li>
      </ul>
    </div>
  </div>
</main>
