

<h1 class="text-4xl font-bold text-slate-900 mb-6">Create a new poll</h1>
<p class="text-xl font-bold tracking-tight text-slate-900">Your email</p>
<div class="flex flex-col gap-3">
  <label for="userEmail" class="flex flex-col w-full">
    <input id="userEmail" type="email" [disabled]="submittingUserEmail"  [(ngModel)]="userEmail"  (ngModelChange)="onEmailChange($event)" class=" disabled:bg-slate-100 disabled:pointer-events-none disabled:hover:border-slate-100 px-3.5 py-2.5 text-slate-900 bg-slate-200 border border-transparent hover:border-slate-300 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100">
  </label>
  <button (click)="onSubmit()" [disabled]="submittingUserEmail" type="submit" class="disabled:hover:bg-slate-200 disabled:bg-slate-200 disabled:text-slate-400 font-bold inline-flex justify-center whitespace-nowrap rounded-lg bg-slate-900 px-3.5 py-2.5 text-sm text-white shadow-sm shadow-indigo-950/10 hover:bg-slate-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-slate-300 transition-colors duration-150 w-min">
    CREATE NEW POLL
  </button>
</div>



